@page "/students/{Id}/edit"
@inject StudentService StudentService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject CustomAuthenticationStateProvider CustomAuthStateProvider

<AuthorizeView>
    <Authorized>
        <h1>Edit Student</h1>

        @if (student == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <EditForm Model="student" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <InputText id="name" @bind-Value="student.Name" />
                <InputText id="email" @bind-Value="student.Email" />
                <InputText id="password" @bind-Value="student.Password" />

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        }
    </Authorized>
    <NotAuthorized>
        <h1>You are not authorized</h1>
        <button class="btn btn-primary" @onclick="() => NavigationManager.NavigateTo("/login")">Login</button>
    </NotAuthorized>
</AuthorizeView>

@code {
[Parameter]
    public int Id { get; set; }

    private Student student;

    protected override async Task OnInitializedAsync()
    {
        student = await StudentService.GetStudentAsync(Id);
    }

    private async Task HandleValidSubmit()
    {
        await StudentService.UpdateStudentAsync(student);
        NavigationManager.NavigateTo("/students", true);
    }
}